#wrapper{
	width:100%;
	max-width:640px;
	min-width:300px;
	margin:0 auto;
	height:1000px;
}
/*--头部搜索框--*/
.jd-search{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	max-width:640px;
	height:40px;
	z-index:9999;
	/*background:red;*/
}
.jd-search header{
	position:relative;
	width:100%;
	height:100%;
}
.jd-search header div.jd-logo{
	position:absolute;
	left:10px;
	top:9px;
	width:56px;
	height:40px;
}
.jd-search header div.jd-logo i{
	width:56px;
	height:21px;
	background-position:0 -109px;
}
.jd-search header div.search{
	width:100%;
	height:100%;
	padding-left:76px;
	padding-right:48px;
}
.jd-search header div.search form{
	display:inline-block;
	width:100%;
	height:30px;
	background:#fff;
	border-radius:15px;
	margin-top:5px;
}
.jd-search header div.search form span{
	display:inline-block;
	width:20px;
	height:20px;
	background-position:-60px -109px;
	margin-left:8px;
	vertical-align:middle;
}
.jd-search header div.search form input{
	display:inline-block;
	width:80%;
	height:100%;
}
.jd-search header div.login{
	position:absolute;
	right:10px;
	top:0;
	height:40px;
	line-height:40px;
	font-size:15px;
}
.jd-search header div.login a{
	color:#fff;
}

/*banner轮播*/
#slider{
	position:relative;
	width:100%;
}
#slider div.slider-touch{
	width:100%;
	overflow:hidden;
}
#slider div.slider-touch ul{
	width:1000%;
	-webkit-transform:translateX(-10%);
	transform:translateX(-10%);
}
#slider div.slider-touch ul li{
	width:10%;
	float:left;
}
#slider div.slider-touch ul li a{
	display:block;
	width:100%;
}
#slider div.slider-touch ul li a img{
	width:100%;
}
#slider div.slider-btn{
	position:absolute;
	width:100%;
	bottom:8px;
	left:0;
	text-align:center;
}
#slider div.slider-btn span{
	display:inline-block;
	width:6px;
	height:6px;
	border:1px solid #FFF;
	border-radius:50%;
	margin:0 2px;
}
#slider div.slider-btn span.active{
	background:#fff;
}

/* nav 导航*/
#nav{
	width:100%;
}
#nav nav{
	width:100%;
	padding-top:11px;
}
#nav nav a{
	display:block;
	width:25%;
	float:left;
	text-align:center;
	margin-bottom:10px;
}
#nav nav a img{
	width:40px;
	height:40px;
	margin:0 auto 6px;
}

/*广告位置*/
.adv{
	width:100%;
}
/*主要内容块*/
main{
	display:block;
	width:100%;
}
.floor{
	width:100%;
}
.floor div.floor-container{
	width:100%;
	margin-top:8px;
}
.title-wrap{
	width:100%;
}
.title-wrap span.secskill-icon{
	margin-left:10px;
	margin-top:4px;
	width:18px;
	height:22px;
	background-position:-84px -109px;
}
.title-wrap h2.secskill-title{
	font-size:15px;
	color:#CA1327;
	margin:10px 3px 0 4px;
}
.title-wrap div.secskill-timer{
	margin:10px 0 0 10px;
}
.title-wrap div.secskill-timer span.secskill-time{
	display:inline-block;
	width:18px;
	height:18px;
	background:#000;
	border-radius:2px;
	color:#fff;
	text-align:center;
	line-height:18px;
}
.title-wrap div.secskill-move{
	margin-top:10px;
	color:#aaa;
	padding-right:10px;
}
.title-wrap div.secskill-move span.sprite-icon{
	width:7px;
	height:13px;
	background-position:-186px -50px;
}
.secskill-content{
	width:100%;
	overflow:hidden;
	padding-top:10px;
}
.secskill-content ul{
	width:700%;
}
.secskill-content ul li{
	width:4.76%;
	float:left;
	border-right:1px solid #ccc;
	text-align:center;
}
.secskill-content ul li a{
	display:block;
	width:100%;
}
.secskill-content ul li a img{
	display:inline-block;
	width:80%;
}
.secskill-content ul li p:nth-child(2){
	color:#F17A5C;
	margin-top:8px;
	font-size:14px;
}
.secskill-content ul li p:nth-child(3){
	color:#aaa;
	font-size:12px;
	text-decoration:line-through;/*删除线*/
}