/*--footer start--*/
#footer{width:100%;min-width: 1200px;background:#1e97de;text-align:center;color:#fff;font-size:13px;padding-top:15px;}
#footer .f_nav{padding:10px 0px 5px 0px;}
#footer .f_nav a{color:#fff;padding:0 10px;}
#footer p{padding:10px 0px 5px 0px;}
#footer .certification{padding:10px 0px 5px 0px;}
#footer .certification a{padding:0 10px;}
/*--footer end--*/

/*--楼梯式导航样式开始--*/
#stair_nav{position:fixed;right:20px;bottom:10px;z-index:9999;display:none;}
#stair_nav .s_con{width:44px;height:44px;cursor:pointer;margin-bottom:2px;position:relative;background:url("../images/go-top.png") no-repeat;}

#stair_nav #s_read{background-position:0px -100px;}
#stair_nav #s_read a{position:absolute;right:44px;top:0px;font-size:16px;font-weight:bolder;text-align:center;line-height:44px;color:#000;background:#d7d7d7;width:0px;overflow:hidden;}
#stair_nav #s_read:hover{background-position:0px -304px;}
#stair_nav #s_read:hover a{display:block;width:89px;}

#stair_nav #s_weixin{background-position:0px 0px;}
#stair_nav #s_weixin .s_ewm{width:135px;height:160px;position:absolute;right:44px;bottom:0px;background-color:#d7d7d7;display:none;}
#stair_nav #s_weixin .s_ewm img{display:block;margin:9px auto 0px;border:1px solid #ddd;}
#stair_nav #s_weixin .s_ewm span{padding:0 25px;font-size:14px;color:#000;}
#stair_nav #s_weixin:hover{background-position:0px -348px;}
#stair_nav #s_weixin:hover .s_ewm{display:block;}

#stair_nav #s_to_top{background-position:0px -152px;}
#stair_nav #s_to_top:hover{background-position:0px -255px;}
/*--楼梯式导航样式结束--*/

/*---客服热线--*/
#qqkf{width:80px; height:220px;position:fixed;top:190px; right:20px;
		overflow:hidden;}

#qqkf img.hideImg{position:absolute; top:20px;right:0px;}
