/*--local nav start--*/
.bread_nav_wrap{width:100%;margin-top:16px;border-bottom:1px solid #d7d7d7;padding-bottom:8px;font-size:14px;}
.bread_nav span{display:inline-block;margin:0 10px;}
/*--local nav end--*/
/*--main start--*/

main{width:100%;}
.main{width:1200px;margin:0 auto;margin-top:8px;}
/*--main end--*/

/*--团队发布人信息展示--*/
/*--右边发布人信息--*/
.send_p{width:250px;margin-right:20px;border:1px solid #eee;background:#fff;}
.send_p .send_title{height:40px;line-height:40px;background:#F5F1F1;font-size:16px;text-indent:20px;}
.send_p .person_info{text-align:center;margin-top:15px auto;font-size:14px;color:#333;}
.send_p .person_info .pic{display:block;width:100px;height:100px;border-radius:50%;margin:15px auto;}
.send_p .person_info .pic img{border-radius:50%;}
.send_p .person_info .name{display:block;}
.send_p .person_info .credit i{display:inline-block;width:15px;height:15px;background:url("../images/icon.png") no-repeat -110px -22px;}
.send_p .address{width:200px;font-size:14px;color:#333;margin:10px auto;text-align:center;}

.com_certificate{padding-left:75px;}
.com_certificate li{font-size:12px;color:#10ce6e;float:left;margin-right:8px;cursor:pointer;}
.com_certificate li i{display:inline-block;width:20px;height:20px;background:url("../images/icon.png") no-repeat;}
/*认证前(默认)的样式*/
.com_certificate li i.icon01{background-position:0 0;}
.com_certificate li i.icon02{background-position:-20px 0;}
.com_certificate li i.icon03{background-position:-39px 0;}
.com_certificate li i.icon04{background-position:-59px 0;}
/*企业认证信息--认证后的样式*/
.com_certificate li i.icon1{background-position:0 -20px;}
.com_certificate li i.icon2{background-position:-20px -20px;}
.com_certificate li i.icon3{background-position:-39px -20px;}
.com_certificate li i.icon4{background-position:-59px -20px;}
.more{height:30px;line-height:30px;text-align:center;font-size:14px;margin-bottom:15px;}

/*团队产品展示--收藏样式*/
.collection{height:50px;padding-left:20px;line-height:50px;font-size:18px;color:#333;margin-bottom:20px;}
.collection i{display:inline-block;width:15px;height:15px;background:url("../images/icon.png") no-repeat -112px -21px;margin-left:10px;}
/*收藏后的样式*/
.collection i{background-position:-130px -21px;}
/*--分页样式--*/
.pages{width:872px;text-align:center;}
.pages a{display:inline-block;padding:0px 8px;border:1px solid #eee;color:#1e97de;border-radius:3px;margin-right:5px;}
.pages a.first{background:#1e97de;color:#fff;}
.pages a:hover{border:1px solid #1e97de;}
.pages span{color:#666;}
.pages input.delete{display:inline-block;background:#fff;padding:4px 8px 5px;color:#1e97de;border:1px solid #eee;outline:none;border-radius:3px;}
.pages span.current { background: #50A8E6; color: #FFF; font-weight: 700; border-color: #50A8E6; padding: 5px 8px; margin-right: 5px; border-radius: 3px; }

/**--省份选择样式---**/
.pro_info{font-size:16px;color:#333;line-height:50px;position:relative;}
.pro_info .pro_title{display:inline-block;width:150px;background:#F5F1F1;text-align:center;border-bottom:1px dashed #ddd;}
.pro_info .pro_detail{display:inline-block;width:719px;border:1px solid #ddd;border-left:none;border-bottom:none;}
.pro_info .more{font-size:12px;text-align:right;position:absolute;bottom:0px;right:20px;cursor:pointer;background:#fff;}
.pro_info .more i{color:red;padding-right:5px;}
.more_city{width:719px;border-right:1px solid #ddd;margin-left:150px;display:none;position:relative;line-height:30px;}
.more_city a{padding:0 14px;font-size:16px;}
.more_city .close{position:absolute;top:5px;right:10px;font-size:12px;color:red;cursor:pointer;}

/*---首页优秀产品开始   企业个人中心我收藏的服务--*/
.outstanding{background:#fff;padding-bottom:20px;}
.o_title{height: 40px;background:#eee;line-height:40px;}
 .o_title .main_title{font-size:18px;cursor:pointer;display:inline-block;color:#fff;background:#1E97DE;padding:0 8px;border-radius:5px;box-shadow:0 2px 0px #A7B8EA;}
.o_title .main_title:hover{background:#E7691E;}
 .o_title .sub_title{margin-right:30px;}
 .o_title .sub_title li{float:left;margin-left:30px;font-size:16px;font-weight: bold;width:35px;height:40px;line-height:40px;cursor:pointer;}
.o_title .sub_title li.on{color:#1e97de;border-bottom:2px solid #1e97de;}
.project .project_list{width:228px;margin-top:10px;margin-right:15px;background:#fff;}
.project .project_list .project_detail{padding:0px 5px;}
.project .project_list .price{font-size:14px;color:#666;}
.project .project_list .price span.money{font-size:20px;color:red;display:inline-block;width:120px;}
.project .project_list .prj_title{font-size:16px;font-weight:block;color:#000;margin:5px auto;width:100%;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.project .project_list .prj_title a{color:#333;}
.project .project_list .send_p{font-size:14px;color:#666;border:none;width:220px;margin-right:0px;}
.project .project_list .send_p span{padding-right:55px;}
.read_more{width:100%;height:25px;margin-top:-2px;}
.read_more a{display:inline-block;float:right;color:#1e97de;text-decoration: underline;margin-right: 20px;}
/*---首页优秀产品结束   企业个人中心我收藏的服务--*/

/*---个人中心左边导航公共样式--*/
#content{margin:30px auto;}
/*--左边导航-*/
#nav{width:200px;}
#nav h1{height:60px;line-height:60px;text-align:center;font-size:20px;font-weight:100;background:url("../images/menber_bg.png") no-repeat left bottom;border:1px solid #eee;border-bottom:none;margin-bottom:-3px;}
#nav h1 a{color:#333;}
#nav h1 i{display:inline-block;width:20px;height:20px;background:url("../images/icon.png") no-repeat -161px -11px;margin-right:10px;}
#left{width:190px;margin:0 auto;border:1px solid #eee;border-top:none;background:#fff;}
#left ul li{margin-bottom:5px;}
#left ul .menu h2{width:190px;height:50px;line-height:50px;text-align:center;font-size:20px;color:#333;cursor:pointer;}
#left ul .menu h2 a{font-size:18px;color:#333;font-weight:100;}
#left ul .menu h2 em{display:inline-block;width:4px;height:4px;background:#1E97DE;margin-right:10px;margin-bottom:5px;}
#left ul .menu.hover{background:#F1D373;} 
#left .menu_list{display:block;height:25px;line-height:25px;text-align:center;color:#666;text-decoration:none;color:#666;font-size:14px}
#left .menu_list a{display:block;}
#left .menu_list:hover{background:rgb(30, 151, 222);}
#left .menu_list:hover a{color:#fff;}
#left .menu_list.cur{background:rgb(30, 151, 222);}
#left .menu_list.cur a{color:#fff;}


/*--个人中心右边内容 样式--*/
#content #person_info{width:970px;}
#content .info_detail{width:970px;height:180px;background:url("../images/menber_bg.png") no-repeat;background-size:100% 100%;}
#content .info_detail .detail_left{position:relative;}
#content .info_detail .detail_left a img{width:100px;height:100px;border-radius:50%;margin:25px;}
#content .info_detail .detail_left .user_wrap{position:absolute;left:150px;top:50px;width:300px;font-size:14px;color:#666;}
#content .info_detail .detail_left .user_wrap span.name{font-size:16px;}
#content .info_detail .detail_left .user_wrap .com_certificate{padding-left:15px;}
#content .info_detail .detail_left .user_wrap .level .rank{display:inline-block;width:100px;height:10px;border:1px solid #ddd;position:relative;}
#content .info_detail .detail_left .user_wrap .level .rank .bg{display:inline-block;height:10px;background:#84cfff;position:absolute;top:0px;left:0px;}
#content .info_detail .detail_right{width:470px;height:180px;}
#content .info_detail .detail_right .r_con{float:left;width:145px;margin-right:11px;height:180px;text-align:center;}
#content .info_detail .detail_right .r_con dt{width:43px;height:50px;background:url("../images/icon.png") no-repeat;margin:20px 0px 20px 50px;}
#content .info_detail .detail_right .r_con dt.weixin{background-position: 0px -40px;}
#content  .info_detail .detail_right .r_con dt.QQ{background-position:-44px -40px;}
#content  .info_detail .detail_right .r_con dt.weibo{background-position:-86px -40px;}
#content  .info_detail .detail_right .r_con dd{font-size:14px;color:#111;}
#content  .info_detail .detail_right .r_con dd span{color:#666;padding-right:10px;}
#content .info_detail .detail_right .r_con dd a{color:#e7691e;}
#content .my_act{width:968px;border:1px solid #ddd;margin:20px auto;background:#fff;}
#content .my_act .act_title{line-height:50px;font-size:16px;color:#666;position:relative;}
#content .my_act .act_title .act_title_con{padding-left:30px;height:50px;background:#F5F1F1;}
#content .my_act .act_title i{display:inline-block;width:2px;height:22px;background:#1E97DE;position:absolute;top:14px;left:20px;}
#content .my_act .act_title .pages a{font-size:12px;line-height:25px;}
#content .my_act .act_title .pages{font-size:12px;}
#content .my_act .act_title .pages input.delete{display:inline-block;background:#fff;padding:4px 8px 5px;color:#1e97de;border:1px solid #eee;outline:none;border-radius:3px;}


#content .my_act .t_list li{float:left;margin-right:15px;}
#content  .my_act .t_list li a{padding-right:15px;}
#content .act_list {width:100%;height:40px;line-height:40px;font-size:14px;color:#666;border-top:1px solid #ddd;cursor:pointer;}
#content .act_list dt{float:left;width:645px;font-size:16px;}
#content .act_list dt span{padding:0px 10px;}
#content .act_list dd{float:left;}
#content .act_list dd.apply{width:80px;}
#content .act_list dd.apply span{color:#1E97DE;}
#content .act_list dd.date{width:100px;}
#content .act_list dd.edit{width:50px;}
#content .act_list dd.top{width:50px;}
#content .act_list dd.delete{margin-right:10px;position:relative;}
#content .act_list dd input.del{background:#fff;padding:2px;color:#666;border:none;outline:none;position:absolute;top:8px;left:0px;z-index:3;}
/*--最新服务--*/
#new_sever #other{height: 250px;background:#fff;margin-top: 20px;width:640px;}
#new_sever .oth_titile{height:50px;background:#F5F1F1;line-height:50px;font-size:16px;color:#666;position:relative;padding-left:30px;}
#new_sever .oth_titile i{display:inline-block;width:2px;height:22px;background:#1E97DE;position:absolute;top:14px;left:20px;}
#new_sever #other .o_list_wrap{width:640px;overflow: hidden;position:relative;height:250px;}
#new_sever .o_list{width: 640px;position: absolute;left: 0px;top: 0px;z-index: 1;padding-left:30px;}
#new_sever .o_list li{float:left; margin-right:15px;width:185px;}
#new_sever .o_list li p{text-align:center;}
#new_sever .o_list li .applied a{color:#e64100;}
#new_sever .o_list li .price{color:red;}

.QA .img{display:block;margin:20px 0px 0px 10px;}
.QA .img img{display:block;}
.QA .QA_list{width:160px;}
.QA .QA_list li{line-height:40px;border-bottom:1px dashed #ddd;}





/*--万年年历样式--*/
.laydate_body .laydate_box{width:240px; font:14px '5B8B4F53'; z-index:99999999; margin:-2px 0 0 -2px; overflow:hidden; background-color:#eee;}
.laydate_body .laydate_box .laydate_void{cursor:text!important;}
.laydate_body .laydate_box a, .laydate_body .laydate_box a:hover{text-decoration:none; blr:expression(this.onFocus=this.blur()); cursor:pointer;}
.laydate_body .laydate_box a:hover{text-decoration:none;}
.laydate_body .laydate_box cite, .laydate_body .laydate_box label{position:absolute; width:0; height:0; border-width:5px; border-style:dashed; border-right-color:transparent; border-top-color:transparent;border-bottom-color:transparent;overflow:hidden; cursor:pointer;}
.laydate_body .laydate_box .laydate_yms, .laydate_body .laydate_box .laydate_time{display:none;}
.laydate_body .laydate_box .laydate_show{display:block;}
.laydate_body .laydate_box input{outline:0; font-size:14px; background-color:#f6a828;color:#fff;}
/*--日历头部--*/

.laydate_body .laydate_ym{position:relative; float:left; height:24px; cursor:pointer;}
.laydate_body .laydate_ym input{float:left; height:24px; line-height:24px; text-align:center; border:none; cursor:pointer;}
.laydate_body .laydate_ym .laydate_yms{position:absolute; left: -1px; top: 24px; height:181px;}
/* .laydate_body .laydate_y{width:121px; margin-right:6px;} */
.laydate_body .laydate_y input{width:64px; margin-right:15px;}
.laydate_body .laydate_y .laydate_yms{width:121px; text-align:center;}
.laydate_body .laydate_y .laydate_yms a{position:relative; display:block; height:20px;}
.laydate_body .laydate_y .laydate_yms ul{height:139px; padding:0; *overflow:hidden;}
.laydate_body .laydate_y .laydate_yms ul li{float:left; width:60px; height:20px; line-height: 20px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.laydate_body .laydate_m{width:99px;}
.laydate_body .laydate_m .laydate_yms{width:99px; padding:0;}
.laydate_body .laydate_m input{width:42px; margin-right:15px;}
.laydate_body .laydate_m .laydate_yms span{display:block; float:left; width:42px; margin: 5px 0 0 5px; line-height:24px; text-align:center; _display:inline;}
.laydate_body .laydate_choose{display:block; float:left; position:relative; width:20px; height:24px;}
/*--日历按钮---*/
.laydate_body .laydate_choose cite{left:50%; top:50%;border-left-color:#fff;}
.laydate_body .laydate_chtop cite{margin:-7px 0 0 -5px; border-bottom-style:solid;}
.laydate_body .laydate_chdown cite, .laydate_body {top:50%; margin:-2px 0 0 -5px; border-top-style:solid;}
.laydate_body .laydate_chprev cite{margin:-5px 0 0 -7px;border-right-color:#fff;border-left:none;}
.laydate_body .laydate_chnext cite{margin:-5px 0 0 -2px;}
.laydate_body .laydate_ym label{display:none;right:28px;}
.laydate_body .laydate_table{ width:230px; margin:0 5px; border-collapse:collapse; border-spacing:0px; }
.laydate_body .laydate_table td{width:31px; height:19px; line-height:19px; text-align: center; cursor:pointer; font-size: 12px;}
.laydate_body .laydate_table td:hover{background:#F6A828;border-radius:5px;}
/*--日历标题样式---*/
.laydate_body .laydate_table thead{height:22px; line-height:22px;}
.laydate_body .laydate_table thead th{font-weight:400; font-size:12px; text-align:center;font-weight:bold;}
.laydate_body .laydate_bottom{position:relative; height:22px; line-height:20px; padding:5px; font-size:12px;}
.laydate_body .laydate_bottom #laydate_hms{position: relative; z-index: 1; float:left; }
/*日历下方的时间*/
.laydate_body .laydate_time{ position:absolute; left:5px; bottom: 26px; width:129px; height:125px; overflow:hidden;background:#fff;}
.laydate_body .laydate_time .laydate_hmsno{ padding:5px 0 0 5px;}
.laydate_body .laydate_time .laydate_hmsno span{display:block; float:left; width:24px; height:19px; line-height:19px; text-align:center; cursor:pointer; *margin-bottom:-5px;}
.laydate_body .laydate_time1{width:228px; height:154px;}
.laydate_body .laydate_time1 .laydate_hmsno{padding: 6px 0 0 8px;}
.laydate_body .laydate_time1 .laydate_hmsno span{width:21px; height:20px; line-height:20px;}
.laydate_body .laydate_msg{left:49px; bottom:67px; width:141px; height:auto; overflow: hidden;}
.laydate_body .laydate_msg p{padding:5px 10px;}
.laydate_body .laydate_bottom li{float:left; height:20px; line-height:20px; border-right:none; font-weight:900;}
.laydate_body .laydate_bottom .laydate_sj{width:33px; text-align:center; font-weight:400;}
.laydate_body .laydate_bottom input{float:left; width:21px; height:20px; line-height:20px; border:none; text-align:center; cursor:pointer; font-size:12px;  font-weight:400;}
.laydate_body .laydate_bottom .laydte_hsmtex{height:20px; line-height:20px; text-align:center;}
.laydate_body .laydate_bottom .laydte_hsmtex span{position:absolute; width:20px; top:0; right:0px; cursor:pointer;}
.laydate_body .laydate_bottom .laydte_hsmtex span:hover{font-size:14px;}
.laydate_body .laydate_bottom .laydate_btn{position:absolute; right:5px; top:5px;}
.laydate_body .laydate_bottom .laydate_btn a{float:left; height:20px; padding:0 6px; _padding:0 5px;}
.laydate_body .laydate_bottom .laydate_v{position:absolute; left:10px; top:6px; font-family:Courier; z-index:0;}
.set_time{margin-left:-5px;}

/*--企业右边信息导航--*/
#content #right_info{width:980px;background:#fff;}
#content #right_info .info_title{height:35px;border-bottom:1px dashed #ddd;margin-top:22px;margin-left:15px;}
#content #right_info .info_title li{height:35px;float:left;margin:0px 15px;font-size: 16px;cursor:pointer;}
#content #right_info .info_title li.select{border-bottom:2px solid #1e97de;color:#1e97de;}

